@font-face {
  font-family: 'norse-bold';
  src: url('./fonts/Norse-Bold.otf');
}

@font-face {
  font-family: 'ktf-roadbrush';
  src: url('./fonts/KTF-Roadbrush.ttf');
}

@font-face {
  font-family: 'inter-regular';
  src: url('./fonts/Inter-Regular.otf');
}

/* A294F9
CDC1FF
F5EFFF
E5D9F2 */

:root {
  height: 100%;
  --header-bg: #A294F9;
  --main-bg: #F5EFFF;
  --footer-bg: #E5D9F2;
  --text-clr: #303030;
  --accent-clr: #CDC1FF;
}

* {
  margin: 0;
  padding: 0;
  color: var(--text-clr);
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  justify-content: center;
  background-color: var(--header-bg);
  box-shadow: 0px 2px 6px;
  margin-bottom: 5px
}

main {
  flex-grow: 1;
  background-color: var(--main-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  padding: 8px;
  background-color: var(--footer-bg);
}

h1 {
  display: flex;
  align-items: center;
  font-family: 'norse-bold';
}

h1 > img {
  width: 52px;
  height: 52px;
}

footer p {
  font-size: 1rem;
  font-family: "ktf-roadbrush";
}

footer a {
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  gap: 5px;
}

footer img {
  width: 1rem;
  height: 1rem;
}

.weather-card {
  width: 300px;
  display: grid;
  grid-template-rows: 25px 35px 1fr;
  gap: 8px;
}

.search-bar {
  display: flex;
  gap: 5px;
}

input {
  width: 100%;
  padding: 2px 4px;
  border: none;
  border-radius: 5px;
  background-color: #e5e5e5;
}

input:focus {
  outline: none;
  box-shadow: 0px 2px 6px;
}

.search-bar > button {
  padding: 2px 4px;
  border: none;
  border-radius: 5px;
  color: var(--main-bg);
  background: var(--text-clr);
  font-family: 'inter-regular';
}

.location-info {
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 6px;
  border-radius: 5px;
  padding: 0 5px;
}

.location-info > img {
  width: 1rem;
  height: 1rem;
}

.location-info > p {
  font-size: 1rem;
  font-weight: 600;
  font-family: 'inter-regular';
}

.weather-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.col {
  box-shadow: 0px 2px 6px;
  padding: 5px;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 82px 200px;
}

.text > p {
  font-family: 'inter-regular';
}

.bold {
  font-weight: 600;
}

.temp {
  font-size: 2rem;
  display: flex;
}

.small {
  font-size: 0.9rem;
  padding: 2px 0;
}

button:hover {
  cursor: pointer;
}

.loading-component {
  border-radius: 5px;
  grid-row: 2 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-component > img:nth-child(1) {
  width: 25px;
  height: 25px;
}

.loading-component > img:nth-child(n+2) {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.hide {
  display: none;
}

.greyed-out {
  color: rgb(48 48 48 / .5);
}

.temp > button, span.greyed-out {
  font-family: 'inter-regular';
  font-size: 1rem;
  font-weight: 600;
  border: none;
  background: none;
}

.temp > button {
  align-self: flex-start;
}

.gif > img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0px 2px 6px;
}