@font-face {
  font-family: 'norse-bold';
  src: url('./fonts/Norse-Bold.otf');
}

@font-face {
  font-family: 'ktf-roadbrush';
  src: url('./fonts/KTF-Roadbrush.ttf');
}

@font-face {
  font-family: 'inter-regular';
  src: url('./fonts/Inter-Regular.otf');
}

:root {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  height: 100%;
  background: linear-gradient(180deg, #A294F9 0%, #F5EFFF 100%);
  min-width: 700px;
}

header {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  justify-content: space-between;
}

header, footer {
  padding: 4px 8px;
}

footer {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  display: flex;
  align-items: center;
  font-family: 'norse-bold';
}

h1 > img {
  width: 32px;
  height: 32px;
}

footer p {
  font-size: 0.8rem;
  font-family: "ktf-roadbrush";
}

footer a {
  color: inherit;
  display: inline-flex;
  gap: 5px;
}

p img {
  width: 0.8rem;
  height: 0.8rem;
  align-self: center;
}

.search-bar {
  display: flex;
  gap: 2px;
}

input {
  padding: 0 8px;
  border: none;
  border-radius: 8px;
  background-color: #F5EFFF;
}

input:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(75, 59, 255, 0.3);

}

header button {
  border: none;
  background-color: inherit;
  border: none;
  display: inline-flex;
}

.location-info {
  display: flex;
  gap: 2px;
  align-self: center;
  justify-content: flex-end;
}

.location-info > img {
  width: 14px;
  height: 14px;
  align-self: center;
}

.location-info > p {
  font-size: 1rem;
  font-family: 'inter-regular';
}

.weather-card {
  width: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.col {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  border: 1px solid rgba(255,255,255,0.2);
  padding: 5px;
  border-radius: 8px;
  display: grid;
  grid-template-rows: 82px 200px;
}

.bold {
  font-weight: 600;
}

.temp {
  font-size: 2rem;
  display: flex;
}

.small {
  font-size: 0.9rem;
  padding: 2px 0;
}

button:hover {
  cursor: pointer;
}

.greyed-out {
  color: rgb(48 48 48 / .5);
}

.temp > button, span.greyed-out {
  font-size: 1rem;
  font-weight: 600;
}

.temp > button {
  align-self: flex-start;
}

.gif > img {
  width: 100%;
  height: 100%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 8px;
}

.search-bar img {
  width: 20px;
  height: 20px;
  align-self: center;
}

p, input, button {
  font-family: 'inter-regular';
}

button {
  border: none;
  background: inherit;
}

.error-card > img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.error-card {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}